<!-- Comando  en consiola para generar el componente: ng g c pages/habitaciones-ecommerce/product-card -->

<div *ngFor="let habitacion of misHabitaciones; let i=index" class="card" >
  <img src="../../../../assets/img/room01.jpg" class="card-img-top" alt="room1">
  <div class="card-body">
    <h4 class="card-title"> {{habitacion.tipo}} </h4>
    <p class="card-text">{{habitacion.descripcion}}</p>
    <a href="#" class="btn btnCalifornia" data-bs-toggle="modal" data-bs-target="#targetIdPunto2">Reservar</a>
  </div>
</div>

<div *ngFor="let habitacion of misHabitaciones; let i=index" class="modal" tabindex="-1" id="targetIdPunto2">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content contenidoModal p-3">
      <div class="modal-header">
        <h2 class="modal-title"> {{habitacion.tipo}} </h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body row">
        <div class="col-8 col-sm-12">
          <img src="../../../../assets/img/room01.jpg" class="modalImg" alt="room1">
          <div class="roomServices">
            <ul class="serviceList">
              <li class="service" *ngFor="let servicio of habitacion.servicios">{{ servicio }}</li> <!-- Mapeo del array de servicios -->
            </ul>
          </div>
        </div>
        <div class="col-4 col-sm-12 reservaForm">

          <label for="startDate">Desde:</label>
            <input type="date" id="startDate" name="trip-start" [(ngModel)]="selectedStartDate">

            <label for="leaveDate">Hasta:</label>
            <input type="date" id="leaveDate" name="trip-end" [(ngModel)]="selectedLeaveDate">

          <div class="roomAvail" *ngIf="habitacion.disponible !== undefined"> {{ habitacion.disponible ? 'Disponible' : 'No disponible' }} </div>  <!--  Verificación de disponibilidad reactiva -->
          <div class="rommPrice"> Precio diario {{ habitacion.precio}} por persona</div>

          <a href="#" class="btn btnCalifornia" (click)="confirmReservation(habitacion.habitacionId)">Confirmar</a>  <!--  Llamada a la función confirmReservation con el id de la habitación -->

        </div>
      </div>
    </div>
  </div>
</div>
